
.myDiv1 {
	width: 800px;
	height: 300px;
	border-bottom: 1px;
	border-bottom-color: #CCCCCC;
	background-color: #F3F3F3;
}
.myDiv2 {
	width: 400px;
	height: 300px;
	border-bottom: 1px;
	border-bottom-color: #CCCCCC;
}